/*General style for leearning*/
*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: #333;
}

p{
	font-family: Arial, Helvetica, sans-serif;
}

nav{
	display: grid;
	grid-template-columns: 300px auto 300px;
	padding: 10px;
}

.brand_logo{
	border-bottom: 2px solid #ddd;
	margin: 0 auto;
	width: 700px;
}

.brand_logo h1{
	font-family: verdana; 
	font-size: 60px;
	letter-spacing: 5px;
	font-weight: bold;
	text-align: center;	 
}
.brand_logo span{
	color: #fc9d03;
}
.social_icons img{
	width: 20px;
	margin: 5px;
	opacity: 50%;
}

.social_icons img:hover{
	opacity: 100%;
	transition: opacity 0.3s ease-in-out;
}

.subscribe_btn a{
	display: block;
	padding: 6px;
	width: 140px;
	text-align: center;
	border: 3px solid #fc9d03;
	font-family: verdana;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 auto;
}

.subscribe_btn a:hover{
	background-color: #fc9d03;
	border: 3px solid #333;
	transition: all 0.3s ease-in;
}

.nav_bar{
	position: relative;
	display: -webkit-flex;
	display: flex;
	text-align: center;
	grid-column: 1/4;
	width:600px;
	margin: 0 auto;
}

.nav_bar a{
	display: flex;
	padding: 15px;
	width: 150px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
	box-sizing: border-box;
}

.nav_bar a:active{
	color: #fc9d03;
}

.line{
	position: absolute;
	width: 100px;
	border-bottom: 2px solid #fc9d03;
	top: 35px;
	transition: transform 0.3s ease-in-out;
}

.nav_bar a:hover{
	color: #fc9d03;
	transition: color 0.3s ease-in-out;
}
.nav_bar a:nth-child(2):hover - .line{
	transform: translateX(150px);
	transition: transform 0.3s ease-in-out;
}
.nav_bar a:nth-child(3):hover - .line{
	transform: translateX(300px);
	transition: transform 0.3s ease-in-out;
}

.nav_bar a:nth-child(4):hover - .line{
	transform: translateX(450px);
	transition: transform 0.3s ease-in-out;
}

/*Cover Style Section*/
.cover{
	display: grid;
	grid-template-columns: 50% 25% 25%;
	grid-template-rows: 300px 300px;
	grid-gap: 5px 5px;
	width: 1350px;
	margin: 0 auto;
}

.feature{
	position: relative;
}

.feature img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title_filter{
	position: absolute;
	bottom: 0;
	background-color:#333;
	opacity: 50%;
	width: 100%;
	height: 22%; 
}

.feature_title{
	position: absolute;
	font-family: cursive;
	letter-spacing: 2px;
	bottom: 0;
	margin: 5px 10px;
	color: #fff;
}

.date{
	position: relative;
	display: block;
	width: 60px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 15px;
	background-color: #fc9d03;
	padding: 10px 0px;
}

.date h3{
	line-height: 25px;
}

.date span{
	color: #222;
}

.feature_title h1{
	font-size: 25px;
}
.feature_title p{
	font-size: 10px;
	margin: 5px 0px;
}

.feature_title a{
	color: #fc9d03;
}

.feature_title p span{
	margin: 0px 15px;
	border-left: 1px solid #fff;
}

.cover .feature:nth-child(1){
	grid-row: 1/3;
}
.cover .feature:nth-child(4){
	grid-row: 1/3;
	grid-column: 3/4;
}
.cover .feature:nth-child(3) h1, .cover .feature:nth-child(2) h1{
	font-size: 15px;
}
.cover .feature:nth-child(3) p, .cover .feature:nth-child(2) p{
	font-size: 12px;
}
.cover .feature:nth-child(3) .date, .cover .feature:nth-child(2) .date{
	font-size: 16px;
	width: 50px;
	padding: 2px 0px;
	margin-bottom: 5px;
}

.cover .feature:nth-child(4) .title_filter{
	height: 25%;
}

.cover .feature:nth-child(4) h1{
	font-size: 20px;
}
.cover .feature:nth-child(4) p{
	font-size: 12px;
}

/*Featured Section Style*/
.featured{
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-gap:20px 20px;
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0px;
}

.sidebar{
	grid-row: 1/4;
}

.sidebar div > h2{
	margin: 20px 0px;
	font-family: Arial;
	font-size: 40px;
	letter-spacing: 5px;
}

.sidebar h2 > span{
	color: #fc9d03;
}

.about img{
	width: 100%;
	margin-bottom: 20px;
}

.about p{
	line-height: 25px;
	text-align: justify;
}

.uppercase{
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

.featured_post{
	font-family: Arial, Helvetica, sans-serif;
}

.post{
	display: flex;
}

.calendar{
	width: 50px;
	height: 60px;
	margin: 10px;
	background-color: #333;
	padding: 10px;
}

.calendar p{
	font-size: 30px;
	font-family: cursive;
	text-align: center;
	color: #fc9d03  ; 
}

.calendar span{
	display: block;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.dish{
	padding: 15px;

}

.dish h6{
	color: #fc9d03;
	margin: 10px 0px;
	font-size: 12px;
}

.dish h1{
	font-size: 24px;
	font-family: Arial;
	letter-spacing: 3px;
}

.dish p{
	font-size: 12px;
	line-height: 20px;
}

.recipe_type div{
	font-family: Arial, Helvetica,sans-serif;
	font-weight: bold;
	display: block;
	padding: 15px;
	border-bottom: 2px solid #ddd;
	width: 300px;
	color: #333;
}

.sub_type a{
	margin-left: 20px;
	color: #555;
	font-size: 14px;
}

.recipe_type div span{
	float: right;
	font-size: 12px;
}

.recipe_type div a:hover{
	color: #fc9d03;
	transition: all 0.3s ease-in-out;
}

.poster{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.poster p{
	width: 90%;
	line-height: 25px;
	margin-bottom: 20px;
	color: #333;
}

.poster input{
	width: 60%;
	padding: 10px;
	border:2px solid #fc9d03;
}

.input:focus{
	border: 2px solid #333;
	outline: none;
}

.placeholder{
	font-family: Arial, Helvetica, sans-serif;
}

.poster button{
	font-family: verdana;
	background-color: #fc9d03;
	border:none;
	padding: 10px;
	width: 120px;
	font-size: 14px;
	margin-top: 20px;
} 

.featured_posts{
	grid-column: 2/4;
	grid-row: 1/2;
	position: relative;
	text-align: center;
	line-height: 25px;
}

.featured_posts h1{
	margin: 20px 0px;
	font-family: verdana;
	letter-spacing: 2px;
}

.featured_posts .date{
	position: absolute;
	left: 20px;
	top: 20px;
	background: #fc9d03;
	width: 80px;
}

.featured_posts .date p{
	font-size: 30px;
	font-weight: bold;
	font-family: cursive;
	color: #fff;
	text-align: center;
}

.featured_posts .date p span{
	display: block;
	text-transform: uppercase;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.featured_posts img{
	width: 100%;
	height: 600px;
	object-fit: cover;
	margin-bottom: 20px;
}

.featured_posts h6{
	font-family: Roboto;
	font-size: 20px;
	letter-spacing: 3px;
	margin: 10px 0px;
}

.featured_posts h6 span{
	color: #fc9d03
}

.featured_posts a.button{
	display: block;
	border:2px solid #fc9d03;
	padding: 5px 10px;
	width: 160px;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: verdana;
	margin: 20px auto;
}

.featured_posts a.button:hover{
	border: 2px solid #333;
	background: #fc9d03;
	transition: all 0.3s ease-in-out;
}
.selected_posts{
	display: grid;
	grid-template-columns: 300px 300px;
	grid-gap: 20px;
}

.selected_posts img{
	grid-column: 1/2;
	width: 100%;
	margin-bottom: 20px;
}

.description{
	grid-column: 2/6;
	text-align: center;
}

.description > p{
	margin: 10px 0px 30px;
	color: #333;
	font-size: 14px;
	line-height: 25px;
}

.description h1{
	font-family: Helvetica, sans-serif;
	font-size: 26px;
	margin: 10px  0px
	letter-spacing: 3px;
}

.load_more{
	grid-column: 2/4;
	text-align: center;
}

.load_more a{
	display: block;
	background-color: #eee;
	font-size: 26px;
	padding: 15px;
	width: 180px;
	margin: 0 auto;
	border: 2px solid #fff;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
}
.load_more a:hover{
	background-color: #fc9d03;
	border: 2px solid #333;
	transition: all 0.3s ease-in-out;
}

/*Categories Section*/
.categories{
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	grid-column-gap: 30px;
	justify-content: center;
	margin-bottom: 30px;
}

.card_category{
	position: relative;
	box-sizing: border-box;
}

.card_category img{
	position: absolute;
	box-shadow: 2px 2px 10px -2px #333;
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	left: 50px;
	top: 50px;
}

.desc_category{
	padding: 55px 30px 10px;
	height: 480px;
	margin-top: 200px;
	text-align: center;
	border: 2px solid #fc9d03;
	box-shadow: 2px 2px 5px -3px #333;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	z-index: -2;
}

.desc_category p + p{
	background-color: #fc9d0380;
	padding: 15px;
	margin-top: 20px;
	color: #333;
	font-size: 16px;
	line-height:25px;
}

.desc_category a.recipe_btn:hover{
	color: #fc9d03;
	transition: color 0.3s ease-in-out;
}

.desc_category a.button{
	display: block;
	margin: 20px auto;
	padding: 10px;
	width: 120px;
	background-color: #fc9d03;
	font-weight: bold;
	color: #fff;
	box-sizing: border-box;
}

.desc_category a.button:hover{
	color: #333;
	border: 2px solid #fc9d03;
	background-color: #fff;
	box-sizing: border-box;
	transition: all 0.3s ease-in;
}

.newsletter{
	background-image: url("images/slide_4.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	height: 300px;
	width: 100%;

}

.newsletter_filter{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #33333370;
}

.action_call{
	position: absolute;
	color: #fff;
	width: 100%;
	text-align: center;
	padding-top: 70px;
	box-sizing: border-box;
	font-family: sans-serif;
	letter-spacing: 2px;
}

.action_call h2{
	margin: 20px 0px;
}

.action_call input{
	width: 300px;
	padding: 10px;
	background-color: #eee;
	border: none;
	border-radius: 5px;
	z-index: 1;
}

.action_call button{
	width: 120px;
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 5px;
	background-color: transparent;
	color: #fff;

}
.action_call button:hover{
	cursor: pointer;
	background-color: #fc9d03;
	transition: all 0.3s ease-in-out;
}

/*Footer Section Style*/
.footer{
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-family: verdana;
	background-color: #fc9d03
	color#333;
	font-weight: bold;
	letter-spacing: 2px;
}

/*Responive Design with media Query*/
@media only screen and (max-width: 800px){
	nav{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.subscribe_btn{
		display: none;
	}

	.brand_logo{
		width: 100%;
	}

	.brand_logo a h1{
		font-size: 24px;
	}

	.nav_bar{
		width: 100%;
	}

	.nav_bar a{
		display: block;
		float: none;
		text-align: center;
		padding: 2px;
		width: 100%;
	}

	.nav_bar .line{
		display: none;
	}

	.cover{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.feature{
		width: 100%;
	}

	.feature img{
		height: 400px;
	}

	.featured{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.about p{
		padding: 20px;
	}

	.featured_posts{
		display: none;
	}

	.selected_posts{
		display: flex;
		flex-direction: column;
	}

	.selected_posts img{
		width: 100%;
	}

	.subscribe{
		display: none;
	}

	.recipe_type{
		display: none;
	}

	.categories{
		display: flex;
		flex-direction: column;
	}

	.card_category{
		margin: 30px;
	}

	.desc_category{
		height: 400px;
	}

	.card_category img{
		left: 50%;
		transform: translateX(-50%);
	}
}

